.git
.venv
__pycache__
*.pyc

batch_runs
downloads
outputs
outputs.zip
openhands_workspace
openhands_generated
validation_results
webvoyager_results

data
src-remote/train/output
**/node_modules
**/.cache
**/__pycache__
*.log
*.zip
*.tar.gz