.env
extracted
env
node_modules

__pycache__
downloads
wandb

outputs
gather_statistics
alternative_generation/generated_websites
alternative_generation/webvoyager_current_backup_20250717_164247
alternative_generation/results_for_1_cycle
alternative_generation/results_for_2_cycle
webvoyager
